@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .App {
    @apply bg-primary w-full;
    height: 10000px;
    background-image: url('./assets/bg_grid.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .logo {
    width: 115px;
  }
  .App-header {
    @apply flex;
    padding: 32px 64px;
  }
  .menu {
    font-size: 14px;
  }
}
