@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Raleway';
    src: local('Raleway'), url(./assets/fonts/Raleway-Regular.ttf) format('truetype');
  }

@layer components {
  .App {
    @apply w-full h-full relative;
  }
  .fix-wrapper {
    @apply bg-primary absolute top-0 left-0 w-full;
    background-image: url('./assets/bg_grid.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
  }
  .front {
    height: 10000px;
  }
  .front-wrapper {
    @apply absolute top-0 left-0 w-full;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
  }
  .logo {
    width: 115px;
  }
  .App-header {
    @apply flex items-center;
    padding: 32px 64px;
  }
  .menu {
    font-size: 14px;
    margin-right: 40px;
  }
  .menu li {
    margin-left: 56px;
  }
  .button {
    @apply flex items-center;
    border-radius: 4px;
    padding: 12px 24px;
    border: solid 1px;
    font-size: 14px;
  }
  .button img {
    margin-left: 8px;
  }
  .enroll {
    background-color: #5B39F4;
    border-color: white;
    color: white;
  }
  .signin {
    background-color: #EFDFD2;
    border-color: #5B39F4;
    color: #5B39F4;
    margin-left: 16px;
  }
  .web-title {
    @apply flex;
    margin-left: 222px;
    margin-top: 157px;
  }
  .web-title-right {
    @apply relative;
    width: 150px;
    padding-left: 10px;
  }
  .web-title-en {
    font-size: 100px;
    color: #D96EE9;
    font-family: 'Raleway';
  }
  .web-title-ch {
    font-size: 40px;
    color: #00162A;
  }
  .web-title-4th {
    @apply absolute;
    left: 40px;
    top: 40px;
  }
  .web-title-circle {
    @apply absolute;
  }
  .scrolldown-text {
    font-family: 'Raleway';
    font-size: 14px;
    color: #00162A;
  }
  .scrolldown-line {
    height: 48px;
    margin-top: 24px;
    width: 1px;
    background-color: #00162A;
  }
  .mask {
    position: fixed;
    top: 0;
    left: 0;
    /* background-color: #5B39F4; */
    width: 100%;
    height: 100%;
  }
  .c {
    transition: all 0.5s ease-in-out;
  }
  .clip {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    -webkit-mask:
        url('data:image/svg+xml;utf8,<svg viewBox="0 0 200 100" xmlns="http://www.w3.org/2000/svg"><rect x="10" width="180" height="100" rx="50" /></svg>') 0/100% 100%,
        linear-gradient(#fff,#fff);
    -webkit-mask-composite:destination-out;
            mask:
        url('data:image/svg+xml;utf8,<svg viewBox="0 0 200 100" xmlns="http://www.w3.org/2000/svg"><rect x="10" width="180" height="100" rx="50" /></svg>') 0/100% 100%,
        linear-gradient(#fff,#fff);
    mask-composite:exclude;
    background:#5B39F4;
    background-image: url('./assets/bg_grid.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  #box {
    margin: auto;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #5B39F4;
    background: url('') center/cover;
    /* background-size: cover;
    background-position: center; */
  }

  #innerbox {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index:1;
  }
  #hole-rect {
    transform-origin: center center;
  }
}
